{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-lg-12 align-items-center">

        <table class="table table-bordered" summary="customers">
            <thead>
            <tr>
                <th scope="col"> Parent Accounts</th>
                <th scope="col"> Child Accounts</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row">
                    <a href="{% url 'dashboard:unresponsive' %}"> All Unresponsive devices </a>
                </th>
                <td>Click to view all the unresponsive devices</td>
            </tr>

            {% for account in all_accounts %}
            {% if account.children %}

            <tr>
                <th scope="row" rowspan="{{ account.list_length }}">
                    <a href="{% url 'reports:unresponsive' account_key=account.id %}">{{ account.name }}</a>
                </th>
                {% for child in account.children %}
            <tr>
                <td>
                    <a href="{% url 'reports:unresponsive' account_key=child.account_id %}">
                        {{ child.account_name }} </a>
                </td>
                {% endfor %}
            </tr>
            </tr>
            </tbody>

            {% elif not account.children %}
            {% if account.name %}
            <tbody>
            <tr>
                <th scope="row">
                    <a href="{% url 'reports:unresponsive' account_key=account.id %}">{{ account.name }}</a>
                </th>
                <td>No Child account</td>
            </tr>
            </tbody>
            {% endif %}
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}



