{% extends 'base.html' %}
{% block content %}

<div class="col-lg-12">

    {% if output %}
        this is true
    {% else %}
        No output
    {% endif %}


    {{ output.account_key }}
    {% for info in output.Device %}
        {{ info.IMEI }}
        {{ info.SIM_Number }}
        {{ info.Added_On }}
        {{ info.Last_Reported_Date }}
        {{ info.Last_Reported_Time }}
        {{ info.Device_Status }}
        {{ info.Billing_Status }}
        {{ info.Comments }}
    {% endfor %}
    {% endblock %}

</div>


<!--{{ Devices. }}-->
<!--{{ Devices. }}-->
<!--{{ Devices. }}-->
<!--{{ Devices. }}-->
<!--{{ Devices. }}-->
<!--{{ Devices. }}-->
