<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Report Generator</title>

</head>
<body>

<div class="container-fluid">

    <div class="row mt-3 align-items-center justify-content-center">
        <div class="col-lg-12 mt-3">
            <form name="form" enctype="multipart/form-data" action="{% url 'get_days:count' %}?Account_Id=None"
                  method="POST">

                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <input type="text" class="form-control" id="numberOfDays" name="numberOfDays"
                                   aria-describedby="name"
                                   placeholder="Device which has not reported since past {{ request.session.temp_data }} days">
                        </div>
                        <div class="form-group row justify-content-center">
                            <button type="submit" class="btn btn-dark">Get Devices List</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row align-items-center justify-content-center">
        {% block content %}
        {% endblock %}
    </div>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>

</html>
